.logo img {
width: 200px;
height: auto;
margin-bottom: -20px;
}

header {
background-color: rgb(255, 255, 255);
padding: 5px 0;
display: flex;
flex-direction: column;
align-items: center;
width: 100%;
}

body, h1, h2, p, ul {
margin: 0;
padding: 0;
}

body {
font-family:Arial, Helvetica, sans-serif;
font-size: x-large;
position: relative;
overflow-x: hidden;
width: 100%;
}

nav {
text-align: center;
width: 100%;
box-shadow: 0 6px 4px rgba(111, 106, 116, 0.548);
}

.nav-section-a, .nav-section-b {
display: flex; 
justify-content: center; 
margin: 20px 0; 
}





.nav-section-a a {
margin: 0 75px;
text-decoration: none;
color: rgba(13, 12, 12, 0.705);
}

.nav-section-b .dropdown {
margin: 0 15px; /* Adjust this value for more or less spacing */
}

.nav-section-a a:hover, .nav-section-b .dropdown-word:hover {
text-decoration: underline;
}

/* Style the dropdown container */
.dropdown {
list-style-type: none;
position: relative;
display: inline-block;
}

/* Style the dropdown word */
.dropdown-word {
color: #ffffff;
padding: 16px;
font-size: x-large;
cursor: pointer;
text-decoration: none; /* Ensure links don't have underline by default */
}

/* Style the dropdown content */
.dropdown-content {
display: none;
position: absolute;
background-color: #fff9fd;
box-shadow: 0px 4px 16px 0px rgb(44, 33, 15);
z-index: 1;
list-style-type: none;
padding: 0;
margin: 0;
}

/* Style the links inside the dropdown */
.dropdown-content li a {
color: #5B5F97;
padding: 12px 16px;
text-decoration: none;
display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li a:hover {
background-color: #b8b8d188;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Change the color of the dropdown word on hover */
.dropdown:hover .dropdown-word {
color: #948467;
}

/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
background: #B8B8D1;
flex-direction: column;
}
::-webkit-scrollbar {
height: 10px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
border-radius: 25px;
}
::-webkit-scrollbar-thumb {
background: #FF6B6C;
border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
background: #f78888;
}
.title{
margin-top: 50px;
font-size: 20px;
text-align: center;
}
.container {
display: flex;
gap: 12px;
max-width: 500px;
width: 100%;
background: #5B5F97;
border-radius: 12px;
padding: 30px;
scroll-snap-type: x mandatory;
overflow-x: scroll;
scroll-padding: 30px;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
margin-bottom: 50px;
}
.container .card {
display: flex;
flex: 0 0 100%;
flex-direction: column;
align-items: center;
padding: 30px;
border-radius: 12px;
background: #fff;
scroll-snap-align: start;
box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
margin-left: 20px;
}
.card .image {
height: 150px;
width: 150px;
padding: 4px;
background: #FFC145;
border-radius: 50%;
}
.image img {
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 5px solid #fff;
}
.card h2 {
margin-top: 25px;
color: #333;
font-size: 22px;
font-weight: 600;
text-align: center;
}
.card p {
margin-top: 4px;
font-size: 18px;
font-weight: 400;
color: #333;
text-align: center;
}

/*Footer*/
footer {
text-align: center;
padding: 10px;
background-color: #FF6B6C; /* Light Red */
color: white;
position: relative;
width: 100%;
}

.footerContainer {
width: 100%;
padding: 30px 35px 10px;
}

.socialIcons {
display: flex;
justify-content: center;
}

.socialIcons a {
text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}

.socialIcons a i {
font-size: 30px;
color: black;
opacity: 0.9;
}

.socialIcons a:hover {
background-color: #111;
transition: 0.5s;
}

.socialIcons a:hover i {
color: white;
transition: 0.5s;
}

.footerNav {
margin: 30px 0;
}

.footerNav ul {
display: flex;
justify-content: center;
list-style-type: none;
}

.footerNav ul li a {
color: white;
margin: 20px;
text-decoration: none;
font-size: 20px;
opacity: 0.7;
transition: 0.5s;
}

.footerNav ul li a:hover {
opacity: 1;
}

.footerBottom {
background-color: #000;
padding: 20px;
text-align: center;
}

.footerBottom p {
/* copyright colour*/
color: white;
font-size: 15px;
}

.designer {
opacity: 0.7;
text-transform: uppercase;
letter-spacing: 1px;
font-weight: 400;
font-size: 15px;
margin: 0 5px;
}

@media (max-width: 700px) {
.footerNav ul {
    flex-direction: column;
}
.footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
}
.socialIcons a {
    padding: 8px;
    margin: 4px;
}
}
